.greet {
    font-size: xx-large;
    padding: 35px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(15, 76, 217, 0.9);
    font-weight: 700;
}

.navbar-brand {
    padding: 20px;
}

a.nav-link {
    font-size: 17px;
}

button.btn.btn-outline-primary {
    font-size: 16px;
}

.mainc {
    /* padding: 50px; */
}

.mainc h1 {
    font-weight: 800;
    font-size: 29px;
}


.mainc .search {
    padding: 1rem 3rem;
    margin: 0px 70px 0.2rem;
    line-height: 1.2;
    font-size: 2rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.045em;
}

.dsearch h1 {
    font-weight: 600;
    font-size: 23px;
}

.dsearch {
    padding: 1rem 3rem;
    margin: 3rem 48px 0px;
    line-height: 1.2;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.045em;
}

.mainc .featured {
    padding: 3rem 3rem 0rem;
    margin: 0px 70px 0.2rem;
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.025em;
}

.mainc .featured p {
    margin: 0px 0px 16px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: rgb(107, 107, 107);
    font-weight: 500;
    font-family: Baikal, Inter, sans-serif;
    font-size: 1.125rem;
}

.mainc .flist {
    padding: 1rem 33px;
    margin: 0px 70px 0.2rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; */
}

.mainc .flist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navl {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: -0.05em;
    font-family: Inter, sans-serif;
    color: rgb(107, 107, 107);
    font-weight: 500;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.css-rqs7wq {
    width: 100%;
}

.css-rqs7wq>div {
    width: 100%;
    margin: 0px !important;
}

.css-djswmo {
    position: relative;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
}

.css-15w7drz {
    display: grid;
    place-items: center;
    font-size: inherit;
    color: rgb(206, 206, 206);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: default;
}

.css-rqs7wq input {
    width: 100%;
    margin-top: 1.5rem;
}

.css-wdj2vc {
    margin: 0px 0px 1rem;
    line-height: 1.2;
    font-size: 2rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.045em;
    font-weight: 600;
}

.css-plm54p input {
    width: 15.625rem;
    background: rgb(248, 249, 250);
    border: 0.5px solid rgb(236, 236, 236);
    height: 2.5rem;
}

.css-fa4rfl {
    padding: 0px 1rem 0px 3rem;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 0.875rem;
    color: rgb(12, 12, 12);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-width: 1px;
    background: rgb(255, 255, 255);
    caret-color: rgb(107, 107, 107);
    outline: none;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    height: 50px;
}

.css-r4x838 {
    user-select: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
    color: inherit;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.back {
    padding-bottom: 2rem;

}

.back a {
    color: rgb(12, 12, 12);
    text-decoration: none;

}

.back a span {
    margin: 10px;
    line-height: 1.4;
    font-size: 17px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: Inter, sans-serif;
}

.mdetail {
    padding: 3rem 2rem;
}

.mdetail .cname .cimg {
    height: 3.75rem;
    width: 3.75rem;
}

.mdetail .cname img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}

.mdetail .cname {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1.5rem;
}

.mdetail .cname h1 {

    margin: 0px;
    font-size: 1.5rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.025em;
    font-weight: 600;

}

.mdetail .cdesc p {
    margin-top: 2rem;
    line-height: 1.4;
    font-size: 1.125rem;
    letter-spacing: -0.01em;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgb(58, 58, 58);
}

.mdetail iframe {
    border-radius: 12px;
}

.css-1fobf8d {
    margin-bottom: 20px;
}

.css-1q75hs2 {
    margin: 0px;
    line-height: 1.2;
    font-size: 1.5rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.025em;
    font-weight: 900;
}

.css-17jnidb {
    margin: 0px;
    font-size: 0.875rem;
    line-height: 1.4;
    color: rgb(157, 157, 157);
}

.css-1q75hs2 {
    margin: 0px;
    line-height: 1.2;
    font-size: 1.5rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.025em;
    font-weight: 900;
}

.css-9yhb3g {
    margin: 0px;

    line-height: 1.2;
    font-size: 1.5rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.025em;
    font-weight: 900;
    color: rgb(0, 102, 235);
}

.sub a {
    color: black;
    text-decoration: none;
}

.sub {
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;

}

.csub {
    /* background-color: black; */
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: rgb(230, 230, 230);
    color: rgb(157, 157, 157);
    pointer-events: none;

}

.mdetail .cdet {
    margin-top: 37px;
}

.mdetail .ifr {
    margin-top: 34px;
}

.invmain {
    margin-top: 2rem;
}

.invmain input {
    border-radius: 5px;
}

.invmain .btn {
    width: 26%;
    height: 3.5rem;
}

.css-nwsp77 {
    font-family: Inter, sans-serif;
    border-radius: 8px;
    font-size: 0.875rem;
    height: 2.5rem;
    font-weight: 600;
}

.deal {
    font-family: Inter,
        sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.css-1lqn0d2 {
    margin: 0px;
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgb(107, 107, 107);
}

.css-37nqt7 {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    font-family: Inter, sans-serif;
    font-weight: 600;
}

.pdf-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16: 9 aspect ratio height: 0; */
    overflow: hidden;
}

.pdf-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.pdfv {
    margin: 0px 0px;
    background-color: black;
    width: 99%;
}

.crh1 h1 {
    margin: 0px 0px 0.35em;
    font-weight: 800;
    line-height: 1.1;
    font-size: 2.5rem;
    font-family: Baikal, sans-serif;
}

.crh1 p {
    margin: 0px 0px 0.35em;
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: Baikal, sans-serif;
    font-weight: 400;
}


.crf input {
    font: inherit;
    color: #585454;
    width: 62.5%;
    border: 1px solid transparent;
    resize: vertical;
    display: block;
    outline: none;
    padding: 0.75em 1.25em;
    font-size: 1rem;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    background-color: #F4F4F3;
    -webkit-appearance: none;
}

.crf textarea {
    font: inherit;
    color: #585454;
    width: 62.5%;
    border: 1px solid transparent;
    resize: vertical;
    display: block;
    outline: none;
    padding: 0.75em 1.25em;
    font-size: 1rem;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    background-color: #F4F4F3;
    -webkit-appearance: none;
}

.crfl input {
    font: inherit;
    color: #585454;
    width: 100%;
    border: 1px solid transparent;
    resize: vertical;
    display: block;
    outline: none;
    padding: 0.75em 1.25em;
    font-size: 1rem;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    background-color: #F4F4F3;
    -webkit-appearance: none;
}

.crfl button:hover {
    /* opacity: 0.4; */
    color: white;
    background-color: #656060;
}

.crf input::placeholder {
    color: #585454;
    opacity: 0.5;
}

.crf p {
    font-weight: 600;
    margin: 0px 0px 0.35em;
    font-size: 1rem;
    line-height: 1.4;
    font-family: Baikal, sans-serif;

}

.logf h3 {
    margin: 0px 0px 2rem;
    line-height: 1.2;
    font-size: 2.5rem;
    font-family: Baikal, Inter, sans-serif;
    letter-spacing: -0.045em;
    font-weight: 800;
}

.log {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 12px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    line-height: 1;
    font-family: Inter, sans-serif;
    min-width: 64px;
    padding: 8px 22px;
    border-radius: 8px;
    width: 100%;
    box-shadow: none;
    text-transform: none;
    text-align: center;
    font-size: 1.125rem;
    height: 3rem;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 12, 12);
    font-weight: 600;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mal {
    margin-top: 8rem;
}

.css-19mvjqo {
    margin: 2.5rem 0px 1.5rem;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.nal {
    margin-left: 5px;
}