<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <div class="w3l-bootstrap-header fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light p-2">
            <div class="container">
                <!-- <a class="navbar-brand" href="index.html"><span class="fa fa-diamond"></span>StartApp</a> -->
                <a class="navbar-brand" href="/">
                    <img src="/media/media/logo.png" alt="Your logo" title="Your logo" style="height:50px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" style="display: flex; justify-content: flex-end;"
                    id="navbarSupportedContent">
                    <div class="form-inline">
                        <a href="about" style="font-weight: bold;text-decoration: none" class="login mr-4">ABOUT</a>
                        <a href="login" style="font-weight: bold;text-decoration: none;" class="login mr-4">LOGIN</a>
                        <a href="register" style="font-weight: bold;" style="background-color: black;"
                            class="btn btn-primary btn-theme">Create Free Account</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- index-block1 -->
    <div class="w3l-index-block1">
        <div class="content py-5">
            <div class="container">
                <div class="row align-items-center py-md-5 py-3">
                    <div class="col-md-5 content-left pt-md-0 pt-5">
                        <h1 style="font-weight: 900;">About</h1>
                    </div>
                    <div style="width: 90%;max-width:1200px;margin: 0 auto;">
                        <p style="font-size: 25px;font-family: Baikal, Inter, sans-serif;">
                            <br><br><br>Welcome to StartApp, a startup funding website designed to help entrepreneurs
                            and businesses grow and succeed. Our platform provides a range of resources and services
                            that can help you secure the funding you need to take your business to the next level.

                            <br><br>At StartApp, we understand the challenges that entrepreneurs and small business
                            owners face when it comes to securing funding. That's why we've developed a comprehensive
                            platform that connects entrepreneurs with investors, providing them with the tools and
                            resources they need to succeed.

                            <br><br>Our platform includes a range of features, including a powerful search engine that
                            helps entrepreneurs find investors that are interested in their business.

                            <br><br>We work with a network of experienced investors who are looking for innovative
                            businesses and ideas to invest in. By connecting with these investors through our platform,
                            entrepreneurs can secure the funding they need to grow their businesses and achieve their
                            goals.

                            <br><br>At StartApp, we are committed to helping entrepreneurs and small business owners
                            succeed. Whether you're just starting out or looking to take your business to the next
                            level, our platform can help you achieve your goals. So why wait? Sign up today and start
                            connecting with investors who can help take your business to the next level.





                        </p>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <section class="w3l-market-footer">
        <footer class="footer-28">
            <div class="footer-bg-layer">
                <div class="container py-lg-3">
                    <div class="container" style="width: 90%;max-width:900px;margin: 0 auto;">
                        <p class="text-center">the <strong>startups</strong> platform</p>
                    </div>
                    <div class="footer-top-28">
                        <div class="footer-list-28 mt-3">
                            <div class="container" style="width: 90%;max-width:900px;margin: 0 auto;">
                                <p class="copy-footer-28 text-center"> &copy; 2022 Market. All Rights Reserved. Design
                                    by <a href="#">StartApp</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="midd-footer-28 align-center py-lg-4">
                    <div style="width: 90%;max-width:900px;margin: 0 auto;">
                        <p style="font-size: 11px">
                            StartApp is a software as a service funding platform. StartApp is not a registered
                            broker-dealer and does not offer investment advice or advise on the raising of capital
                            through securities offerings. StartApp does not recommend or otherwise suggest that any
                            investor make an investment in a particular company, or that any company offer securities to
                            a particular investor. StartApp takes no part in the negotiation or execution of
                            transactions for the purchase or sale of securities, and at no time has possession of funds
                            or securities. No securities transactions are executed or negotiated on or through the
                            StartApp platform. StartApp receives no compensation in connection with the purchase or sale
                            of securities.
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">&#10548;</button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
</body>

</html>