<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{ campaign.name }}</h1>
    <hr>
    <p>{{ campaign.description }}</p>
    <img src="{{ campaign.image.url }}" alt="{{ campaign.name }}">
    <p>Subscribers: {{ subscribers }}</p>
    <p>Left Days: {{ left_days }}</p>
    <p>Target amount: {{ campaign.goal_amount }}</p>
    <p>Current amount: {{ campaign.current_amount }}</p>
    <a href="{% url 'payment' campaign.id %}">Invest</a>
</body>

</html>