{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Startapp-Invest Securely</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #eee;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Collapsible wrapper -->
            <a class="navbar-brand mx-5" style="padding: 2px;" href="/">
                <img src="/media/media/logo.png" alt="Your logo" title="Your logo" style="height:50px;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0" style="padding-right: 11rem;">
                    <li class="nav-item  navl">
                        <a class="nav-link" href="/">Explore</span>
                        </a>
                    </li>
                    <li class="nav-item  active navl">
                        <a class="nav-link" href="/campaigns">Subscribe</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <div class="justify-content-end">
                <!-- Right links -->
                <a href="/logout"><button type="button" class="btn btn-outline-primary">Logout</button>
                </a>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <div class="container mt-4">
        <div class="crh1">

            <h1>Raise with Startapp</h1>
            <p>Tell us a little about your company. This will help us understand your business better.</p>
        </div>

        <div class="crf">

            <form method="post" enctype="multipart/form-data">
                <div class="mt-5">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <p class="mt-5">{{ field.label }}</p>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mt-5 mb-5 " type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>{% comment %} footer {% endcomment %}
    <section class="w3l-market-footer">
        <footer class="footer-28">
            <div class="footer-bg-layer">
                <div class="container py-lg-3">
                    <div class="container" style="width: 90%;max-width:900px;margin: 0 auto;">
                        <p class="text-center">the <strong>startups</strong> platform</p>
                    </div>
                    <div class="footer-top-28">
                        <div class="footer-list-28 mt-3">
                            <div class="container" style="width: 90%;max-width:900px;margin: 0 auto;">
                                <p class="copy-footer-28 text-center"> &copy; 2022 Market. All Rights Reserved. Design
                                    by <a href="#">StartApp</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="midd-footer-28 align-center py-lg-4">
                    <div style="width: 90%;max-width:900px;margin: 0 auto;">
                        <p style="font-size: 11px">
                            StartApp is a software as a service funding platform. StartApp is not a registered
                            broker-dealer and does not offer investment advice or advise on the raising of capital
                            through securities offerings. StartApp does not recommend or otherwise suggest that any
                            investor make an investment in a particular company, or that any company offer securities to
                            a particular investor. StartApp takes no part in the negotiation or execution of
                            transactions for the purchase or sale of securities, and at no time has possession of funds
                            or securities. No securities transactions are executed or negotiated on or through the
                            StartApp platform. StartApp receives no compensation in connection with the purchase or sale
                            of securities.
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">&#10548;</button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
</body>

</html>